# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__
*.synctex.gz

# Virtual environment for local use
.venv

# VS Code
.vscode

# environment variables
.env
